@font-face {
    font-family: 'Futura BdCn BT';
    src: url('FuturaBT-BoldCondensed.woff2') format('woff2'),
        url('FuturaBT-BoldCondensed.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

